.color_gradient{
    background-image: linear-gradient(to right, #7986CB, #3f4f9c,#7986CB);
}
.form_width{
    width:25%;
}
.border_style{
    border: 1px solid rgb(147, 139, 139);
}
.font_style{
    font-family: 'Times New Roman', Times, serif;
}
.background_color{
    background-color: rgb(158, 223, 246);
}