{{page-title "Details"}}
{{outlet}}
<div class="w-60 child_class mt-5" style="width: 60%;">
<div style="width:100%">
    <img src={{this.model.src}} style="width:90%">
    <p class="mt-5 text-center">{{this.model.description}}</p>
</div>
</div>
