{{page-title 'Index'}}
<NavigationBar />
<div class="d-flex justify-content-center" style="width: 100%;overflow:auto;">
  <div style="width:40%">
    <Cardview @details={{@model}} />
  </div>
    {{outlet}}
</div>
